<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-has-orientation-devices"
        version="1.0.0">
    <name>Has Orientation Device Plugin</name>
    <description>Detects if Android device has orientation devices</description>
    <license>MIT</license>

    <js-module src="www/hasOrientationDevices.js" name="hasOrientationDevices">
        <clobbers target="navigator.hasOrientationDevices" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="hasOrientationDevices">
                <param name="android-package" value="com.maphunter.hasOrientationDevicesPlugin" />
            </feature>
        </config-file>

        <source-file src="src/android/com/maphunter/HasOrientationDevicesPlugin.java" target-dir="src/com/maphunter/cordova-plugin-has-orientation-devices" />
    </platform>
</plugin>

